<footer>
  <div class="left-footer">
    <!-- Store Icon and HaggleHub Name -->
    <i class="fas fa-store"></i> HaggleHub

    <!-- Social Media Icons -->
    <div class="social-icons">
      <a href="https://twitter.com/yourpage" target="_blank"><i class="fab fa-twitter"></i></a>
      <a href="https://instagram.com/yourpage" target="_blank"><i class="fab fa-instagram"></i></a>
      <a href="https://facebook.com/yourpage" target="_blank"><i class="fab fa-facebook-f"></i></a>
    </div>
  </div>

  <div class="right-footer">
    <!-- Need Assistance Section -->
    <p>Need assistance?</p>
    <div class="contact-info">
      <i class="fas fa-phone"></i> (123) 456-7890
      <i class="fas fa-envelope"></i> support@hagglehub.com
    </div>
  </div>
  <!-- <p>&copy; 2023 HaggleHub: The Funko Pop Collectors Hub. All rights reserved.</p> -->
</footer>
