<header>
  <div class="navbar">
    <div class="logo">HaggleHub</div>
    <nav>
        <ul>
            <li><a href="/browse" class="">Browse Collection</a></li>
            <li><a href="/favorites">Favorites</a></li>
            <li><a href="/login">Login</a></li>
            <li><a href="/register">Register</a></li>
        </ul>
    </nav>
    <div class="header-icons">
        <div class="search-icon">
            <i class="fas fa-search"></i>
        </div>
        <div class="cart-icon">
            <i class="fas fa-shopping-basket"></i>
        </div>
        <div class="user-icon">
          <img src="images/profile.jpg" alt="" />
          <span class="user name"></span>
          <i class="fas fa-user"></i>
        </div>
    </div>
  </div>
</header>

