<header>
  <div class="navbar">
    <div class="logo">HaggleHub</div>
    <nav>
        <ul>
            <li><a href="/products" class="">Browse Collection</a></li>
            <li><a href="/favorites">Favorites</a></li>
            <li><a href="/login">Login</a></li>
            <li><a href="/register">Register</a></li>
        </ul>
    </nav>
    <div class="header-icons">
        <div class="search-icon">
          <form method="POST" action="/products">
            <input type="text" name="search" id="search-bar" placeholder=" Search">
            <button class="btn btn-outline-dark" type="submit">
              <i class="fas fa-search"></i>
            </button>
          </form>
        </div>
        <div class="cart-icon">
            <i class="fas fa-shopping-basket"></i>
        </div>
        <div class="user-icon">
            <i class="fas fa-user"></i>
        </div>
    </div>
  </div>
</header>

