body {
  background: #f0ece2;
  font-family: "Changa", sans-serif;

  .main-container {
    display: flex;
    justify-content: space-between;
    height: 100vh;

    .sidebar {
      // border: 1px sol#ff00ffnta;
      border-radius: 15px;
      width: 250px;
      background-color: rgba(128, 128, 128, 0.514);
      margin-right: 20px;

      .user-btns {
        margin: 15px;
      }
    }

    .msg-title {
      text-align: center;
    }


    .message-collecction {
      background: white;
    }

    .message-received {
      // border: 1px solid red;
      border-radius: 15px;
      width: 60vw;
      min-height: 35vh;
      display: flex;
      justify-content: space-evenly;
      flex-wrap: wrap;
      // background-color: rgba(128, 128, 128, 0.514);

      .full-msg {
        display: flex;

        .product-info {
          margin-top: 17px;
        }

        img {
          height: 150px;
          width: 150px;
        }

        .rec-msg {
          // background-color: white;
          border-radius: 30px;
          width: 50vw;
          height: 16vh;
          margin-top: 33px;
          padding: 15px;
        }

        .paragraph {
          background-color: white;
          border-radius: 20px;
          width: 50%;
          padding: 15px;
        }

        button {
          position: relative;
          right: -92%;
          margin-top: 10px;
        }
      }
    }

    .send-message {
      // border: 1px solid yellow;
      border-radius: 25px;
      width: 60vw;
      // display: flex;
      // justify-content: space-evenly;
      padding-bottom: 30px;
      // background-color: rgba(128, 128, 128, 0.514);
      // initially hidden
      display: none;

      form {

        textarea {
          border-style: none;
          border-radius: 15px;
          padding: 15px;
          margin: 25px;
          margin-bottom: 5px;
          margin-left: 160px;
        }

        button {
          margin-left: 1055px;
        }
      }
    }
  }
}
