body {
  .main-container {
    display: flex;
    justify-content: space-between;

    .sidebar {
      border: 1px solid magenta;
      border-radius: 30px;
      width: 250px;
      background-color: rgba(131, 187, 48, 0.466);
      margin-right: 20px;

      .user-btns {
        margin: 15px;
      }

    }

    .message-received {
      border: 1px solid red;
      border-radius: 25px;
      width: 60vw;
      display: flex;
      justify-content: space-evenly;
      padding-bottom: 30px;
      background-color: rgba(128, 128, 128, 0.514);

      img {
        height: 20%;
        width: 20%;
      }

      .rec-msg {
        background-color: white;
        border-radius: 30px;
        width: 50vw;
        height: 16vh;
        margin-top: 33px;
        padding: 15px
      }

      button {
        position: relative;
        right: 128%;
        top: 82%;
      }
    }

    .send-message {

      border: 1px solid yellow;
      border-radius: 25px;
      width: 60vw;
      display: flex;
      justify-content: space-evenly;
      padding-bottom: 30px;
      background-color: rgba(128, 128, 128, 0.514);
      // initially hidden
      display: none;

      textarea {
        border-radius: 15px;
        padding: 5px;
        margin-top: 33px;
      }

      button {
        position: relative;
        right: -9%;
        top: -8%;
      }

    }
  }
}
