.favorites-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-gap: 1em;
  margin: 0 auto;
  background-color: rgba(240, 240, 240, 0.8);
  border-radius: 10px;
  border: 1px solid #ccc;
  padding: 20px;
  scroll-behavior: smooth;
  overflow-x: auto;
  width: 80vw;
  height: 52vh;
}

.favorite-product {
  flex: 0 0 auto;
  margin-right: 10px;
}

.favorites-header {
  text-align: center;
  color: white;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black background */
  font-size: 2em; /* Larger font size */
  font-weight: bold; /* Bold text */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Text shadow for depth */
  padding: 0.5em; /* Padding for spacing */
  margin: 1em auto; /* Centering */
  border-radius: 10px; /* Optional: Rounded corners for background */
  width: 20vw;
}

.item-details a {
  color: black;
  text-decoration: none;
  cursor: pointer;
  transition: color 0.3s;

  &:hover {
    color: #2a2a2a;
  }
}

h3 {
  margin-top: 0.5em;
  margin-bottom: 0.3em;
}

.item-price {
  font-weight: bold;
  color: black;
}

img {
  height: 250px;
  width: 250px;
  background-color: white;
  border-radius: 15px;
  margin: 15px;
}

main {
  background-image: url(https://i.ibb.co/xqCpMyC/file-eojg-DQ8-ZX2tk-Hkwh-ZJ07-RBeb.png);
  background-size: cover;
  background-position: 70% 74%;
  width: 100%;
  height: 100%;
}

.favorites-controls {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 40px;
}

.favorites-controls i {
  cursor: pointer;
  margin: 0 10px;
  font-size: 24px;
}
