body {
  background: #f0ece2;


  #hero {
    /* Sizing */
    width: 100vw;
    height: 50vh;

    /* Flexbox stuff */
    display: flex;
    justify-content: center;
    align-items: center;

    /* Text styles */
    text-align: center;

    /* Background styles */
    background-image: url(https://i.ibb.co/p4Fd6Pz/funko-hagglehub-hero.png);
    background-size: cover;
    background-position: center;

    .hero-inner {
      background-color: rgb(157 146 145 / 44%);
      border-radius: 15px;
      padding: 20px;
      color: white;
      text-shadow: 2px 2px #4b3b3b;
    }
  }

  .sold-out {
    opacity: 0.5; /* Semi-transparent */
    pointer-events: none; /* Disable interactions */
    position: relative; /* Needed to position the pseudo-element */
  }

  .sold-out::after {
    content: "Sold Out";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 20px;
    color: red;
    background: white;
    padding: 5px;
    z-index: 1; /* Ensure it's above other content */
  }

  .no-user {
    display: flex;
    justify-content: center;
    margin: 30px;
  }

  #filter-items {
    button.ext-search {
      display: flex;
      margin: 10px auto;
    }

    form {
      display: flex;
      flex-direction: row;
      justify-content: center;
    }
  }

  #admin-funct {
    button.add-new-item {
      display: flex;
      margin: 0 auto;
    }

    div.new-item {
      display: flex;
      justify-content: center;
    }
  }

  .category-title {
    margin-left: 55px;
  }

  .single-product {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  section div.pop {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    display: none;
    justify-content: center;
    border-radius: 15px;
    width: 50%;
    margin: 0 auto;
    margin-bottom: 15px;

    span button {
      font-weight: bold;
      font-size: x-small;
      border-radius: 15px;
      padding: 6px 10px;
    }

    .close-popup-btn {
      display: flex;
      position: fixed;
      transform: translate(360px, 10px);
    }

    .fav-btn {
      display: flex;
      position: fixed;
      transform: translate(320px, 10px);
      padding: 9px;
    }

    .email-btn {
      display: flex;
      position: fixed;
      transform: translate(280px, 10px);
      padding: 9px;
    }

    .btn-outline-blue {
      color: blue;
      border: 1px solid blue;
      background-color: transparent;
    }

    .btn-outline-blue:hover {
      color: white;
      background-color: blue;
    }

    div {
      display: flex;
      flex-direction: column;
      align-self: center;
    }
    img {
      max-height: 500px;
      max-width: 500px;
    }
  }

  #products {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

    img {
      height: 250px;
      width: 250px;
      background-color: white;
      border-radius: 15px;
      margin: 15px;
    }
  }
}
